In [1]:
#Datatype integer
type(2)

int

In [2]:
#Datatype floar
type(4.1233)

float

In [3]:
#Datatype string
type("Hello World")

str

In [4]:
#Datatype boolean
type(True)

bool

In [5]:
#Variable with integer
a = 19
a

19

In [6]:
#Variable with string value
b = "Hello World!! its JAINISH"
b

'Hello World!! its JAINISH'

In [7]:
#Create a variable give some value and find type of value stored in c  
c = 23.12
c

23.12

In [8]:
type(c)

float

Operation with numeric and string values

In [9]:
#create a variable sum and add the values of a and c. Then print sum 
sum = a + c
sum

42.120000000000005

In [10]:
# concatenate(combining strings) strings
v = "Hello"
x = "World"
z = "it's JAINISH"
sum_stringnum = v + " " +  x + " " + z 
sum_stringnum

"Hello World it's JAINISH"

In [11]:
#Formating with % for float datatype 
print("The sum is %.2f"%sum) # %f is for float datatype

The sum is 42.12

In [12]:
#Formating with % for string datatype
print("Program %s"%sum_stringnum) # %s is for string datatype

Program Hello World it's JAINISH

In [13]:
#Formating with % for integer datatype
print("Program output %d"%a)  # %d is for integer datatype

Program output 19

In [14]:
#Cars Example
#cars available
cars = 100
#space in each car
space_in_a_cars = 4.0
#drivers available for cars
drivers = 30
#total passengers 
passengers = 90
#number of cars not driven
cars_not_driven = cars - drivers
#cars been driven
cars_driven = drivers
#carpool capacity of cars
carpool_capacity = cars_driven * space_in_a_cars
#average of passengers in a single car
average_passenger_in_a_cars = passengers / cars_driven

In [15]:
#print how many cars are available
print("There are", cars,"cars available")

There are 100 cars available

In [16]:
#print how many drivers are available 
print("There are", drivers, "drivers available")

There are 30 drivers available

In [17]:
#print how many cars are not been driven
print("There will be", cars_not_driven ,"cars not been driven")

There will be 70 cars not been driven

In [18]:
#print carpool_capacity of cars that can drive passengers to destination
print("We can transport", carpool_capacity, "people in carpool")

We can transport 120.0 people in carpool

In [19]:
#print average of passengers in a single car
print("We need to put about", average_passenger_in_a_cars ," in a car")

We need to put about 3.0  in a car

Math Operator

In [20]:
#Exponent 
11 ** 3

1331

In [21]:
#Modulus
5 % 2

1

In [22]:
#Division
22 / 7

3.142857142857143

In [23]:
#Multiplication 
22 * 7

154

In [24]:
#Addition 
22 + 5

27

In [25]:
#Subtraction
22 - 7

15

LEN()

In [26]:
#len() function a string value (or a variable containing a string)
len(z)

12

Comparison Operator

In [27]:
#Equal to operator
42==42

True

In [28]:
#Not equal to operator
42!=43

True

In [29]:
#Less than operator 
42 < 14

False

In [30]:
#Greater than operator
42 > 23

True

In [31]:
#Less than or equal to operator 
45 <= 69

True

In [32]:
#Greater than or equal to operator
45 >= 69

False

In [33]:
#Create two variable give them value and compare them 
myage = 19
myfriendage = 20
myage >= myfriendage

False

Boolean Operators

In [34]:
#AND Operators 
True and True

True

In [35]:
#AND Operators
True and False

False

In [36]:
#AND Operators
False and True

False

In [37]:
#AND Operators
False and False

False

In [38]:
#OR Operators
True or True

True

In [39]:
#OR Operators
True or False

True

In [40]:
#OR Operators
False or True

True

In [41]:
#OR Operators
False or False

False

In [42]:
#NOT operators
not True

False

In [43]:
#NOT operators
not False

True

MIXING OF BOOLEAN , COMPARISON AND MATH Operators

In [44]:
(4 + 5 < 5 + 6) and (67 - 45 > 78 + 2)

False

In [45]:
9 < 11

True

In [46]:
22 > 80

False

In [47]:
True and False

False

In [49]:
print("Hello World it's JAINISH")

Hello World it's JAINISH