In [1]:
print("Hello World")

Hello World

List

Collection of values, which contains different types.

In [2]:
#Create a list with numeric values and index of list start with 0, 1,... as per list goes on
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [3]:
#Create list with strings
list2=["Cyber Security","AI"]
print(list2)

['Cyber Security', 'AI']

In [4]:
#Value of Home
hall= 2
kit = 2
bath = 6
bed = 4
masterbed = 2

#create a list of it
home=["Hall",hall,"Kitchen",kit,"Bathroom",bath,"Bedroom",bed,"MasterBedroom",masterbed]

#print the list
print(home)

['Hall', 2, 'Kitchen', 2, 'Bathroom', 6, 'Bedroom', 4, 'MasterBedroom', 2]

In [5]:
#List of lists helps data to form in structutre manner.
home = [["Hall",hall],["Kitchern",kit],["Bathroom",bath],["Bedroom",bed],["MasterBedroom",masterbed]]
print(home)

[['Hall', 2], ['Kitchern', 2], ['Bathroom', 6], ['Bedroom', 4], ['MasterBedroom', 2]]

In [6]:
#When you enter negative integer list starts from backwards 
home[-1]

['MasterBedroom', 2]

In [7]:
home[4]

['MasterBedroom', 2]

In [8]:
home[-2]

['Bedroom', 4]

In [9]:
home[0]

['Hall', 2]

In [10]:
#if you want to access range of elements from lists
home[:3] #this means indices from 0 to 2 will be printed because the last indices 3 will exculed 
#this access from front side

[['Hall', 2], ['Kitchern', 2], ['Bathroom', 6]]

In [11]:
#if you want access the elements in backwards 
home[2:] #this from second position of list to last elements

[['Bathroom', 6], ['Bedroom', 4], ['MasterBedroom', 2]]

In [12]:
#if you want every second element of list to print
home[::2] #double : represent the position o lists

[['Hall', 2], ['Bathroom', 6], ['MasterBedroom', 2]]

In [13]:
#if you want every thrid element of list to print
home[::3]

[['Hall', 2], ['Bedroom', 4]]

In [14]:
#if you want your list to be printed in reverse order
home[::-1]

[['MasterBedroom', 2],
 ['Bedroom', 4],
 ['Bathroom', 6],
 ['Kitchern', 2],
 ['Hall', 2]]

In [15]:
#Sum of eat and sleeproom
eat_sleep_room = home[-1] + home[-2] + home[1]
print(eat_sleep_room)

['MasterBedroom', 2, 'Bedroom', 4, 'Kitchern', 2]

In [16]:
x = [1]*100
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [17]:
#adding two list
add = home + list
print(add)

[['Hall', 2], ['Kitchern', 2], ['Bathroom', 6], ['Bedroom', 4], ['MasterBedroom', 2], 1, 2, 3, 4]

In [18]:
num = [1,2,3]
print(num)

[1, 2, 3]

In [19]:
#To add a string or numeric value at end of list
num.append(22)
print(num)

[1, 2, 3, 22]

In [20]:
#To remove a string or numeric value of list
num.remove(22)
print(num)

[1, 2, 3]

In [21]:
#Want to add a other list in the exiting list 
num.extend(list2)
print(num)

[1, 2, 3, 'Cyber Security', 'AI']

In [22]:
num.sort() # because there can only string to sort the list

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
list2.sort() #sorting of list
print(list2)

['AI', 'Cyber Security']

In [24]:
#list in which only integer value 
abc = [2222,34433,54545,332,895,9054]
print(abc)

[2222, 34433, 54545, 332, 895, 9054]

In [25]:
#Len () length of the list
len(abc)

6

In [26]:
#max is maximum value in the list
max(abc)

54545

In [27]:
#min is minimum value in the list
min(abc)

332

In [28]:
#sum is sum of all value in the list
sum(abc)

101481

Tuples

A tuple is a sequence of immutable Python objects. 
Tuples are sequences, just like lists.
The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [29]:
tuple=(1,2,3)
print(tuple)

(1, 2, 3)

In [30]:
tuple1=("Hello World","it's JAINISH",69,68,70)
print(tuple1)

('Hello World', "it's JAINISH", 69, 68, 70)

In [31]:
type(tuple1)

tuple

In [32]:

tuple1[1]

"it's JAINISH"

In [33]:
#concentation of two tuple
conc=(tuple1 + tuple)
print(conc)

('Hello World', "it's JAINISH", 69, 68, 70, 1, 2, 3)

In [34]:
#Nesting of tuple
nest=(tuple1,tuple)
print(nest)

(('Hello World', "it's JAINISH", 69, 68, 70), (1, 2, 3))

In [35]:
#Repetition, if you want a word to print more then one time you do it by rep
rep=("Python is awesome",)*10
print(rep)

('Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome', 'Python is awesome')

In [36]:
#Delete of tuple
tuple34=(324,234,445,767,687)
print(tuple34)

(324, 234, 445, 767, 687)

In [37]:
del (tuple34)

In [38]:
print(tuple34) #this error means that tuple is deleted

NameError: name 'tuple34' is not defined

In [39]:

rep1=(2,2,2,2,2,3,3,3,4,4,6,32,7,7,78,8,9,5)
print(rep1)

(2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 6, 32, 7, 7, 78, 8, 9, 5)

In [40]:
#count of tuple
rep1.count(2)

5

In [41]:
#sum of tuple
sum(rep1)

179

In [42]:
#min of tuple
min(rep1)

2

In [43]:
#max of tuple
max(rep1)

78

In [51]:
#len of tuple
len(rep1)

18